body{
    padding: 0;
    margin: 0;
    background-color: #14213d;
    z-index: 0;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; bottom: 0; left: 25%;
    margin: 0 auto 20px;
    gap: 30px;
    background-color: #14213d;
    width: 50vw;
    border-radius: 20px;
    border: 2px solid #ffe5ec;
    
}

input{
    width: 20vw;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    border: none;
    background-color: aliceblue;
    text-decoration: none;
}
input:focus {
    outline: none;
}
.mural {
    width: 40vw;
    height: 85vh;        
    margin: 20px auto;  
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    gap: 40px;              
    overflow-y: auto;      
    border: 2px solid #ffe5ec;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.6);
    background-color: #778da9; 
    align-items: flex-end;
}

.mural::-webkit-scrollbar {
    display: none;
}
.mensagens {
    display: flex;
    flex-direction: column;
    width: auto; 
    height: auto; 
    min-width: 50px;
    max-width: 80%; 
    padding: 10px 20px;
    margin: 5px;
    
    border-radius: 20px;
    background-color: #14213d;
    color: white;
    word-wrap: break-word;
}   

.texto{
    color: white;
    
}
.button{
    text-decoration: none;
    border: none;
    background-color: #ffe5ec;
    width: 3vw;
    height:5vh;
    border-radius: 50%;
    cursor: pointer;
}

#contador{
    color: white !important;
}
 
